.tagged-text {
    display: inline-block;
    padding: 2px; 
    border-radius: 3px;
    font-size: 0.8rem; /* 增加字体大小 */
    border: 1px solid transparent;
    box-shadow: 0 0 0 1px;
    transition: all 0.3s ease;
    line-height: 1.5; /* 设置行高以垂直居中文字 */
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    .tagged-text {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
        border: 1px solid transparent;
        box-shadow: 0 0 0 1px;
        color: black;
    }

    .tagged-text:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    }
}

@media (prefers-color-scheme: light) {
    .tagged-text {
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .tagged-text:hover {
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
    }
}
